@(colors: List[Color])

@main("Bravo : étonnant, déroutant") {

    <div class="row">
        <div class="span6 offset3">
            <header>
                <h1>Quelle est la bonne couleur ?</h1>
            </header>

            <form action="@routes.Application.result">
                <ul class="colors">
                @colors.map { color =>
                    <li><button class="btn btn-@color.key" type="submit" name="color" value="@color.key">@color.name</button></li>
                }
                </ul>
            </form>
        </div>
    </div>

}
